<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CRUD Home page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/createUser">Create User</a>
        <a href="/about">About</a>

    </div>
    <!-- <h1>hello template engine</h1>
    <img class="banner" src="/images/AL.png" alt="full stack website with nodejs and react!" /> -->
    <h1 class="title-table">All Users</h1>


    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>

        <% listUser.forEach(function(user) { %>
            <tr>
                <td>
                    <%= user.ID %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.city %>
                </td>
                <td>
                    <div class="action-form">
                        <a href="/updateUser/<%= user.ID %>"><i class="fa fa-edit"
                                style="font-size:20px;color:green;padding-right: 5px;"></i></a>
                        <form action="/deleteUser/<%= user.ID %>" method="post">
                            <button><i class="fa fa-trash" style="font-size:20px;color:red"></i></button>
                        </form>

                    </div>

                </td>
            </tr>
            <% }); %>


    </table>




</body>

</html>